# 📦 Configuración de la base de datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskify_db

# 🔐 Clave secreta para JWT
SECRET_JWT_KEY=clave_super_secreta

# 🌐 Configuración del servidor
PORT=3000
NODE_ENV=development

# 🔐 Clave secreta para sesiones (si se usa con cookies o express-session)
SESSION_SECRET=otra_clave_secreta